---
layout: page
title: "About"
description: "Hi, I am Yilong Yang."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->
<style>
    .div-inline{width:170px;float:left}
    .div-inline_2{width:550px;float:left}
</style>
<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <div class="div-inline"><img src="/img/me.jpg"/  style="vertical-align:middle;"></div>
    <div class="div-inline_2"><span><h5>Yilong Yang</h5>
            <p><a href="http://software.xmu.edu.cn">School of Software</a>, <a href="http://xmu.edu.cn">Xiamen University</a><br>Email: yilongyang@stu.xmu.edu.cn<br>Wechat/QQ: 475292886<br>Phone: 15080307051</p></span>
    </div>
    <h5>Biography</h5>
    <p>Yilong Yang was born in Quanzhou, Fujian Province on February 13, 1994. He received His B.S. degree in software engineering from <a href="http://www.ynu.edu.cn" target="_blank"><font color=9FA8DA>
        Yunnan University</font></a> Kunming, China, in 2016. He is currently a M.S. candidate in Software School,<a href="http://www.xmu.edu.au" target="_blank">
        <font color=9FA8DA> Xiamen University</font></a>, Xiamen, China, majoring in software engineering, supervised by Professor <a href="http://software.xmu.edu.cn/View/shizi/wqf.htm" target="_blank"><font color=9FA8DA>
        Qingfeng Wu</font></a>. His rearch interests include brain-computer interface, machine learning and deep learning.</p>
    <h5>Education</h5>
    <ul>
        <li>2016.9--Present<br>
            Software School, Xiamen University, Xiamen, Fujian, majoring in software engineering.</li>
        <li>2012.9--2016.7<br>
            Software School, Yunnan University, Kunming, Yunnan, China, B.S. degree in software engineering.</li>
    </ul>
    <h5>Publications</h5>
    <ul>
        <li><a href="https://ieeexplore.ieee.org/document/8489331" target="_blank">
        	<strong>Yilong Yang</strong>, Qingfeng Wu, Ming Qiu, Yingdong Wang, Xiaowei Chen. <u>
        	Emotion Recognition from Multi-Channel EEG through Parallel Convolutional Recurrent Neural Network</u>. International Joint Conference on Neural Networks (IJCNN2018)(Core: A, CCF: C) </a></li>
        <li><strong>Yilong Yang</strong>, Qingfeng Wu, Yazhen Fu, Xiaowei Chen. <u>Continuous Convolutional Neural Network with 3D Input for EEG-Based Emotion Recognition</u>. International Conference on Neural Information Processing (ICONIP2018)(Core: A, CCF: C)(to appear) </li>
    </ul>
    
    <h5>Honor & Awards</h5>
    <ul>
        <li>2016-2017 The Third Prize of Huawei Scholarship from Xiamen University</li>
        <li>2014-2015 The Third Prize Scholarship from Yunnan University</li>
        <li>2013-2014 The Third Prize Scholarship from Yunnan University</li>
    </ul>
    
    <h5>Language</h5>
    <ul>
        <li>College English Test Band-4: 541</li>
        <li>College English Test Band-6: 446</li>
    </ul>
</div>

<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=JXm7svHq7AGMw13h4QXtTkVjD5oMY7AEYR_qf3tRF-U&cl=ffffff&w=a"></script>
<!-- disqus 公共JS代码 end -->
{% endif %}

