---
layout: page
title: "About"
description: "Hi, I am Yilong Yang."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->
<style>
    .div-a{ float:left;width:30%; height:180px;} 
    .div-b{ float:left;width:70%; height:180px;}
    .photo{ float:left; width:20%;}
    .intro{ float:right; width:80%;}
</style>
<!-- Chinese Version -->

<div class="zh post-container">

    <!--copied from markdown -->
    <div>
    <div class="photo"><img src="/img/me.jpg" height="160" width="160"/></div>
    <div class="intro"><span><h5>&nbsp Yilong Yang (杨一龙)</h5>
            <p>&nbsp PhD Candidate<br>
               &nbsp Electronics and Computer Science, University of Southampton<br>
               &nbsp Email: Yilong.Yang@soton.ac.uk<br> 
               &nbsp Wechat/QQ: 475292886</p></span>
    </div>
    </div>
    <h5 margin-top="15">Biography</h5>
    <p style="text-align:justify; text-justify:inter-ideograph;">I am currently a PhD candidate at 
        <a href="https://www.vlc.ecs.soton.ac.uk/" target="blank">
            Vision, Learning and Control Research Group (VLC)
        </a>, the 
        <a href="https://www.ecs.soton.ac.uk" target="_blank">
            School of Electronics and Computer Science</a>, 
        <a href="https://www.southampton.ac.uk/" target="_blank">
            University of Southampton</a> [Southampton, UK]. 
        My supervisors are
            <a href="https://www.southampton.ac.uk/~sm3y07/" target="_blank">
                Dr. Sasan Mahmoodi</font></a> and
            <a href="https://scholar.google.co.uk/citations?user=4FVYygkAAAAJ&hl=en" target="_blank">
                 Dr. Srinandan Dasmahapatra</a>. My PhD study (2019.9--2023.9) is supported by 
            <a href="https://www.csc.edu.cn/" target="_blank">
                China Scholarship Council (CSC)
            </a>.
         </p>
       <p style="text-align:justify; text-justify:inter-ideograph;">
           Before joining University of Southampton in 2019.9, I received my Master degree from 
           <a href="https://www.xmu.edu.cn/" target="_blank">
               Xiamen University 
           </a>
           in 2019, and my Bachelor Degree from 
           <a href="https://www.ynu.edu.cn/" target="_blank">
               Yunnan University
           </a>in 2016, both majored in Software Engineering.
       </P>
    <h5>Education</h5>
    <ul>
        <li>2019.9--Present<br>
            School of Electronics and Computer Science, University of Southampton, Southampton, UK, PhD in Computer Science.</li>
        <li>2016.9--2019.9<br>
            Software School, Xiamen University, Xiamen, Fujian, majoring in Software Engineering.</li>
        <li>2012.9--2016.7<br>
            Software School, Yunnan University, Kunming, Yunnan, China, B.S. degree in Software Engineering.</li>
    </ul>
    <h5>Publications</h5>
    <ul>
        <li><a href="https://ieeexplore.ieee.org/document/8489331" target="_blank">
        	<strong>Yilong Yang</strong>, Qingfeng Wu, Ming Qiu, Yingdong Wang, Xiaowei Chen. <u>
        	Emotion Recognition from Multi-Channel EEG through Parallel Convolutional Recurrent Neural Network</u>. International Joint Conference on Neural Networks (IJCNN2018)(Core: A, CCF: C) </a></li>
        <li><a href="https://link.springer.com/chapter/10.1007/978-3-030-04239-4_39" target="_blank"><strong>Yilong Yang</strong>, Qingfeng Wu, Yazhen Fu, Xiaowei Chen. <u>Continuous Convolutional Neural Network with 3D Input for EEG-Based Emotion Recognition</u>. International Conference on Neural Information Processing (ICONIP2018)(Core: A, CCF: C)</a> </li>
    </ul>
    
    <h5>Honor & Awards</h5>
    <ul>
        <li>2019--2023  CSC Scholarship from China Scholarship Council</li>
        <li>2016--2017  The Third Prize of Huawei Scholarship from Xiamen University</li>
        <li>2014--2015  The Third Prize Scholarship from Yunnan University</li>
        <li>2013--2014  The Third Prize Scholarship from Yunnan University</li>
    </ul>
    
    <h5>Language</h5>
    <ul>
        <li>College English Test Band-4: 541</li>
        <li>College English Test Band-6: 446</li>
        <li>IELTS(Academic): 6.0(L), 7.5(R), 5.5(W), 6.0(S). Overall:6.5</li>
    </ul>
</div>

<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=JXm7svHq7AGMw13h4QXtTkVjD5oMY7AEYR_qf3tRF-U&cl=ffffff&w=a"></script>
<!-- disqus 公共JS代码 end -->
{% endif %}

